.map-container {
  min-height: 500px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

.card-tree {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card {
  background: white;
  border: 2px solid #ed9c0f;
  border-radius: 5px;
  margin: 0.4rem 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left;
  width: 200px;
}

.doc-num-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 5px;
  background-color: #ed9c0f;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
}

.doc-num-container span:last-child {
  width: 60px;
  background-color: #fff;
  font-size: 1rem;
  font-weight: 600;
  color: #ed9c0f;
  border-radius: 20px;
  text-align: center;
}

.doc-status-container {
  background-color: #ed9c0f;
  padding: 0 10px;
  margin: 10px 5px;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  border-radius: 20px;
  text-align: center;
}

.doc-date-container {
  padding: 5px;
  font-size: 1rem;
  font-weight: 600;
  color: #333;
  display: flex;
  justify-content: space-between;
}

.doc-total-container {
  padding: 0 5px;
  font-size: 1.3rem;
  font-weight: 600;
  color: #333;
  display: flex;
  justify-content: space-between;
}

.card button {
  width: 100%;
}

.card-connection {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.connection {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.1));
  background-color: #ed9c0f;
}

.connection svg {
  color: #fff;
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.1));
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}
